*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html , body{
    height: 100vh;
}
.row{
    display: flex;
    font-family: 'Gotham Pro';
    height: inherit;
    padding: 20px;
}

.row div{
    padding: 0 20px;
}
.widgets{
    text-align: center;
    align-self: center;
}
#color-picker{
    width: 100px;
    height: 60px;
    border: 1px solid transparent;
    border-radius: 8px;
}
label{
    color: #ee6c4d;
    font-weight: bold;
}
#clear-btn{
    border: none;
    padding: 15px 16px;
    border-radius: 4px;
    background-color: #3d5a80;
    color: white;
    letter-spacing: 1px;
    font-weight: bold;
    transition: background-color .3s linear;
}
#clear-btn:hover{
    background-color: #ca5d41;
}
.board-draw{
    flex-grow: 1;
}
#canva{
    position: relative;
    height: 100%;
    width: 100%;
    border:1px solid #3d5a80;
    border-radius: 8px;
}